@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');
@import url('https://fonts.googleapis.com/css?family=Roboto:500');
body{font-family: 'Roboto', sans-serif;}
header{background:#48D1CC linear-gradient(to bottom,#2c7067,#48D1CC);width:470px;text-align:center;
font-family: 'Playfair Display', serif;color:black;
border:1px solid #52ffe8;margin:auto;}
form{font-family:'Roboto', sans-serif;font-size:17px;text-decoration:none;}
div{text-align:center;margin:auto;}
h2{color:#f2f2f2;}

a {text-decoration:none;}

ul li {list-style-type:none;margin:0;padding:0;}
li{/*display:inline*/;margin:0;padding:0;}
li a{padding:10px;}
footer{text-align:center;font-size:12px;}

@import url('https://fonts.googleapis.com/css?family=Dosis:500');
input[type=text],input[type=email],input[type=password],select{
	padding: 3px 3px;margin: 5px;border: 1px solid #dce4f2;border-radius:10px;
	font-family: 'Dosis', sans-serif;font-size:20px;background-color:#dae3e1;color:#7b868f;}

input[type=submit]{
	background-color:#4a4e82;color:black;border:0;margin-bottom:20px;margin-top:5px;
	font-family: 'Dosis', sans-serif;font-size:20px;padding:15px 55px;}

input[type=submit]:hover{
	background-color:#75778f;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus{
	background-color:#f7f7f7;border: 1px solid #868e9c;}

article{text-align:center;background-color:#221f38;width:600px;margin:auto;border:1px solid #a15778;border-radius:15px;}